@model MVC4UserAdmin.ViewModels.UserListViewModel





@if (Model.UserList.Count() <= 0)
{
    <h3 style="text-align:center"> There are no users.  Please Click Create User to add one. </h3>
}
else
{
    <table id="userGridTable" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].Firstname)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].Email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].Active)
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].Firstname)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].Email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.UserList[0].Active)
                </th>
            </tr>
        </tfoot>
    </table>


}


<script type="text/javascript">

   

        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "User/PopulateUserGridDataTable",
                data: "{}",
              //  data: aoData,
               // contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                 
                  //var str = JSON.parse(data);
                    alert(data.result);

                   // console.log(JSON.parse(data.d.result));
                    $('#userGridTable').dataTable({
                        "aaData": data.d,
                        "aoColumns": [
                            { "aaData": "Firstname" },
                            { "aaData": "Surname" },
                            { "aaData": "Username" },
                            { "aaData": "Active" }
                        ]
                    });


                },
                error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                }
            });
        });

   

</script>
