@{
    ViewBag.Title = "Index";
}


<div class="col-md-12">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span><strong>Create User</strong></h3>
            </div>

            <form id="userForm" method="post" class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend></legend>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Firstname">Firstname</label>
                        <div class="col-md-4">
                            @Html.TextBox("Firstname", null, new { data_bind = "value: Firstname", @class = "form-control input-md", type = "text", required = "true", placeholder = "Firstname" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Surname">Surname</label>
                        <div class="col-md-4">
                            @Html.TextBox("Surname", null, new { data_bind = "value: Surname", @class = "form-control input-md", type = "text", required = "true", placeholder = "Surname" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Username">Username</label>
                        <div class="col-md-4">
                            @Html.TextBox("Username", null, new { data_bind = "value: Username", @class = "form-control input-md", type = "text", placeholder = "Username" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4" for="Password">Password</label>
                        <div class="col-md-4">
                            @Html.TextBox("Password", null, new { data_bind = "value: Password", @class = "form-control input-md", type = "password", placeholder = "Password" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4" for="PasswordConfirm">Confirm Password</label>
                        <div class="col-md-4">
                            @Html.TextBox("PasswordConfirm", null, new { @class = "form-control input-md", type = "password", placeholder = "Confirm Password" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Email">Email</label>
                        <div class="col-md-4">
                            @Html.TextBox("Email", null, new { data_bind = "value: Email", @class = "form-control input-md", type = "email", placeholder = "Email" })
                        </div>

                    </div>


                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Active">Is Active</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input id="Active" name="Active" class="form-control" placeholder="Is Active" type="text">
                                <span class="input-group-addon">
                                    <input checked="checked" type="checkbox">
                                </span>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="col-md-4"></div>
                        <div class="col-md-2">
                            <button id="btSave" name="Save" data-bind="click: btnCreateUser" type="submit" class="form-control btn btn-primary">Save <span class="glyphicon glyphicon-floppy-disk"></span></button>
                        </div>
                        <div class="col-md-2">
                            <button id="btCancel" name="Cancel" type="button" class="form-control btn btn-danger">Cancel <span class="glyphicon  glyphicon glyphicon-trash"></span></button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>


                </fieldset>
            </form>
            <br />

            <div id="divResult" class="panel-footer">
            </div>

        </div>

    </div>

    <div class="col-md-3">
    </div>


</div>

<div>

    <input type="button" id="btdefaults" value="Enter Defaults" />

</div>


@section Scripts {
    @Scripts.Render("~/Scripts/ViewModel/FormVal.js")
    @Scripts.Render("~/Scripts/ViewModel/FormUI.js")
    @Scripts.Render("~/Scripts/ViewModel/CreateVM.js")
}


















